Libraries required for train.py:
cython
typing
torch
os
cv2
torchvision
time
sys
transformers


Libraries required for test.py:
cython
typing
numpy
torch
matplotlib.pyplot
os
json
cv2
torchvision
sys
shutil
transformers


Libraries required for visualize_heatmaps.py:
cython
grad-cam
typing
numpy
torch
os
json
cv2
torchvision
transformers
warnings
PIL
shutil
sys